<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: easyuiHeader('${functionName}列表')"/>
</head>
<body class="easyui-layout">
<div id="toolbar">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="searchForm">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>字段名：</p>
                                <input type="text" name="fieldName" class="easyui-textbox"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" id="btnSearch" shiro:hasPermission="${permissionPrefix}:list"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" id="btnReset" onclick="$.form.reset('searchForm')"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>

            </div>
            <div class="col-sm-12 search-collapse">
                <a href="javascript:void(0)" id="btnAdd" class="easyui-linkbutton info"
                   shiro:hasPermission="${permissionPrefix}:add" data-options="iconCls:'fa fa-plus'">新增</a>
                <a href="javascript:void(0)" id="btnEdit" class="easyui-linkbutton success"
                   shiro:hasPermission="${permissionPrefix}:edit" data-options="iconCls:'fa fa-edit'">修改</a>
                <a href="javascript:void(0)" id="btnRemove" class="easyui-linkbutton warning"
                   shiro:hasPermission="${permissionPrefix}:remove" data-options="iconCls:'fa fa-minus'">删除</a>
            </div>

        </div>
    </div>
</div>
<div data-options="region:'center',iconCls:'icon-ok',border:false" style="overflow:hidden">
    <table id="List"></table>
</div>
<div th:include="include :: easyuiFooter"></div>

<script th:inline="none">
    var prefix = ctx + "${moduleName}/${businessName}";
    $(function () {

        var options = {
            id:"List",
            url: prefix + "/list",
            columns: [
                #foreach($column in $columns)
                    #set($dictType=$column.dictType)
                    #set($javaField=$column.javaField)
                    #set($parentheseIndex=$column.columnComment.indexOf("（"))
                    #if($parentheseIndex != -1)
                        #set($comment=$column.columnComment.substring(0, $parentheseIndex))
                    #else
                        #set($comment=$column.columnComment)
                    #end
                        {
                            field: '${javaField}',
                            title: '${comment}',
                            width: 80
                        },
                #end
                ]
        };
        $.table.init(options);
        //查询
        $('#btnSearch').click(function () {
            var queryParams =  $.common.formToJSON("searchForm")
            var opts = $('#List').datagrid("options");
            opts.queryParams = queryParams;
            $('#List').datagrid("load");
        })
        //新增
        $('#btnAdd').click(function () {
            $.modal.dialog("添加", prefix + "/add", '50%', '50%');
        });
        //修改
        $('#btnEdit').click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row == null) {
                $.modal.alertWarning("请选中需要修改的信息");
                return;
            }
            $.modal.dialog("修改", prefix + "/edit/" + row.id, '50%', '50%');
        });
        //删除
        $('#btnRemove').click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row == null) {
                $.modal.alertWarning("请选中需要删除的信息");
                return;
            }
            $.operate.remove({
                url: prefix + "/remove",
                param: {ids: row.id},
                success: function (data) {
                    $.modal.alert(data.msg, function () {
                        $.table.refresh("List");
                    });
                }
            });
        })
    });

</script>
</body>
</html>